<h1>Listing datos</h1>

<table>
  <thead>
    <tr>
      <th>Emisora</th>
      <th>Serie</th>
      <th>Datos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @datos.each do |dato| %>
      <tr>
        <td><%= dato.emisora %></td>
        <td><%= dato.serie %></td>
        <td><%= dato.datos %></td>
        <td><%= link_to 'Show', dato %></td>
        <td><%= link_to 'Edit', edit_dato_path(dato) %></td>
        <td><%= link_to 'Destroy', dato, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dato', new_dato_path %>
